@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Oswald&display=swap');

h1.nick {
	font-family : 'Abril Fatface', cursive;
	}
p.school { 
  font-family : 'Oswald', sans-serif;
  color : #3c49f4; }
